{#
/**
 * @file
 * Theme implementation for the double the donation block.
 *
 * Available variables:
 * - api_key: The API key configured for Double the Donation.
 */
#}

{% if api_key %}
  {{ attach_library('double_donation/double-donation') }}
  <script>
    //<![CDATA[var DDCONF = { API_KEY: "{{ api_key }}" };//]]>
  </script>
  <div id="dd-container"></div>
{% else %}
  <div style="text-align: center; background: rgba(255, 0, 0, .5); color: darkred; border: 1px solid darkred; padding: 1rem; margin: 1rem;">Double the Donation API key has not yet been setup. Visit the <a target="_href" href="/admin/config/double_donation/settings">admin page</a> to enter the API key.</div>
{% endif %}